<section class="section" >
  <div class="section__sideBar" id="myWork">
    <span>My Work</span>
  </div>
  <div class="section__contentWork" [@scrollAnimation]="state">

    <a class="myWorkCard" *ngFor="let work of isPub(true); index as i" [ngStyle]="setMyStyles(work.what_work_image.sizes['large'], i, work.is_mocup)" (press)="hoverFunc($event)" >
      <h2 class="myWorkCard__h2">{{work.what_work}}</h2>
      <div class="myWorkCard__p" [innerHTML]="work.what_work_description"></div>


      <a href="{{work.what_work_link}}" target="_blank" class="myWorkCard__btn" type="button">PROJECT</a>
    </a>


  </div>

</section>


