<section class="section" >
  <div class="section__sideBar" id="iLove">
    <span>I Love to</span>
  </div>
  <div class="section__content2" [@scrollAnimation]="state">
    <div class="section__content2__text">
      <h2>{{title}}</h2>
      <p>{{shortDescription}}</p>
      <div class="section__content2__text__fourOfEach">
        <div class="section__content2__text__fourOfEach__each" *ngFor="let iLoveto of iLovetos" [@scrollAnimationTest]="state2">
          <h3>{{iLoveto.title}}</h3>
          <p>{{iLoveto.description}} <a *ngIf="iLoveto.title === 'Music'" [href]="sanitize(iSpot)" target="_blank">UniJon</a></p>
        </div>
      </div>
    </div>

    <div class="section__content2__img" >
      <img src="{{iLoveImg}}" alt="">
    </div>
  </div>

</section>